<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>stock query</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-grid.css"/>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-reboot.css"/>
    <link rel="stylesheet" href="/css/vue/vuetable-2.css"/>

    <style>

        body {
            font-size: 0.8em;
        }

        .gone { display: none; }
        .s-bolxd { font-weight: bolder; }
        .s-tiny { font-size: 0.8em; }
        .s-up { color: red; }
        .s-down { color: forestgreen; }
        .s-grey { color: grey; }

    </style>
</head>
<body>

<div id="dcontainer" class="container"  style="max-width: 9999px"  >

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <span v-if="setting.mode=='query'">查询．{{script.name}} ． {{portfolio.name}}</span>
            <span v-if="setting.mode=='portfolio'">组合．{{script.name}} ． {{portfolio.name}}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        显示
                    </a>
                    <div class="dropdown-menu" aria-labelledby="" >
                        <a class="dropdown-item" href="#" v-on:click="toggle('script', 'view')">查询运行</a>
                        <a class="dropdown-item" href="#" v-on:click="toggle('portfolio', 'view')">自选组合</a>
                        <a class="dropdown-item" href="#" v-on:click="toggle('editor', 'view')">脚本编辑</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        模式
                    </a>
                    <div class="dropdown-menu" aria-labelledby="" >
                        <a class="dropdown-item" href="#" v-on:click="toggle('query', 'mode')">查询</a>
                        <a class="dropdown-item" href="#" v-on:click="toggle('portfolio', 'mode')">组合</a>
                        <a class="dropdown-item" href="#" v-on:click="toggle('silent', 'mode')">静默</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        动作
                    </a>
                    <div class="dropdown-menu" aria-labelledby="" >
                        <a class="dropdown-item" href="#" v-on:click="stock_sync('a.snapshot.sz')">同步映照</a>
                        <a class="dropdown-item" href="#" v-on:click="stock_sync('k.history.sz', 'k.history.sh', 'k.history.ms')">同步历史</a>
                        <a class="dropdown-item" href="#" v-on:click="clear_cache('local', 'mode')">清除记忆</a>
                        <a class="dropdown-item" href="#" v-on:click="clear_cache('webdb', 'meta')">清除缓存META</a>
                        <a class="dropdown-item" href="#" v-on:click="clear_cache('webdb', 'snapshot')">清除缓存映照</a>
                        <a class="dropdown-item" href="#" v-on:click="clear_cache('webdb', 'khistory')">清除缓存历史</a>
                        <a class="dropdown-item" href="#" v-on:click="stock_clear('main', 'def', '')">刪除映照</a>
                        <a class="dropdown-item" href="#" v-on:click="stock_clear('main', 'history', '')">刪除历史</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-12">
            <div id="test">

            </div>
        </div>
    </div>

    <div id="div_tool" class="row" style="margin-top: 10px">

        <div v-bind:class="{'col-md-6' :true, gone: !setting.display.script}" style="margin-top: 3px;">
            <div class="input-group-prepend">

                <input type="button" value="查询" class="btn btn-info "  v-on:click="script_query()"/>
                <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" id="dropdown_script">
                    <a class="dropdown-item" href="#" v-for="name in script_names" v-on:click="script_select(name)">
                    {{name}}
                    </a>
                </div>

                <input type="search" id="input_script_name" class="form-control"  placeholder="查询脚本" aria-label="script" aria-describedby="script" v-model="script.name" >
                <input type="button" value="测试" id="button_script_test" class="btn btn-outline-info"  v-on:click="script_test()" style="margin-left: 3px;"/>
                <input type="button" value="保存" id="button_script_save" class="btn btn-outline-info"  v-on:click="script_save()" />
                <input type="button" value="列设" class="btn btn-outline-secondary"  v-on:click="setting_show()"/>
                <input type="button" value="刪除" class="btn btn-outline-secondary" v-on:click="script_delete()"/>
            </div>
        </div>


        <div v-bind:class="{'col-md-6' :true, gone: !setting.display.portfolio}" style="margin-top: 3px;">
            <div class="input-group-prepend">
                
                <input type="button" id="button_portfolio_add" value="加入" class="btn btn-danger "  v-on:click="portfolio_update()"/>
                <button type="button" class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu" id="dropdown_portfolio">
                    <a class="dropdown-item" href="#" v-for="pname in portfolio_names" v-on:click="portfolio_select(pname)">
                    {{pname}}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" v-on:click="portfolio_add_manual()">
                        编码加入
                    </a>
                </div>

                <input type="search"  class="form-control" placeholder="自选组合" aria-label="portfolio" aria-describedby="portfolio"
                       v-model="portfolio.name" >
                <input type="button" value="显示" class="btn btn-outline-info"  v-on:click="portfolio_view()" style="margin-left: 3px;"/>
                <input type="button" value="移出" class="btn btn-outline-secondary"  v-on:click="portfolio_unadd()" />
                <input type="button" value="刪除" class="btn btn-outline-secondary" v-on:click="portfolio_delete()" />
            </div>
        </div>


    </div>

    <div v-bind:class="{row :true, gone: !setting.display.editor}" style="margin-top: 10px;" >
        <div class="col-md-12" style="border: 1px solid #f0f0f0; border-radius: 5px">
            <pre id="editor" style="width: 100%; height: 100%; min-height: 160px;"><textarea></textarea></pre>
        </div>
    </div>

    <div v-bind:class="{row :true, gone: !setting.display.editor}" style="margin-top: 10px;" >
        <div class="col-md-12">
            <pre id="console" style="width: 100%; height: 100%; background-color: #eeeeee; border-radius: 5px; padding: 5px;">{{console.text}}</pre>
        </div>
    </div>


    <div id="div_table_pagination" style="margin-top: 5px;" v-bind:class="{'row' :true, gone: table.data.length <= setting.table.page_size }">
        <div class="col-sm-3 align-self-start">
            <div class="input-group sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color: white">total</span>
                </div>
                <input class="form-control sm-2" type="search" v-model="table.data.length" disable style="background-color: white" >
            </div>
        </div>
        <div class="col-sm-4 align-self-end" style="margin-left: 3px">
            <vuetable-pagination
                    ref="pagination"
                    :css="css.pagination"
                    @vuetable-pagination:change-page="table_paging_change"
            >
            </vuetable-pagination>
        </div>
        <div class="col-sm-2 align-self-end" style="margin-left: 10px">
            <div class="input-group sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" style="background-color: white">p</span>
                </div>
                <input class="form-control sm-1" type="search" v-model="setting.table.page_size">
            </div>
        </div>
    </div>

    <div id="div_table" class="row" style="margin-top: 5px;">
        <div class="col-md-12">
            <div id="table">
                <vuetable ref="vuetable"
                          table-wrapper="#table"
                          :css="css.table"
                          :api-mode="false"
                          :per-age="setting.table.page_size"
                          :fields="table_fields"
                          track-by="code"
                          :data-manager="table_data_manage"
                          :multi-sort="true"
                          multi-sort-key="ctrl"
                          pagination-path="pagination"
                          @vuetable:pagination-data="table_paging">
                ></vuetable>
            </div>
        </div>
    </div>



    <!-- -->

    <div class="modal fade" id="div_setting" tabindex="-1" role="dialog" aria-labelledby="setting" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 600px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">setting</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <button type="button" class="btn btn-primary" v-on:click="setting_save()">ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <div style="margin: 5px">
                        <div class="input-group sm-3" style="width: 90%">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">k-count</span>
                        </div>
                        <input
                                class="form-control mr-sm-2"
                                type="search" placeholder="kagi count"
                                aria-label="kagi count" v-model="setting.kagi.count">
                    </div>
                    </div>
                    <div style="margin: 5px">
                        <div class="input-group sm-3" style="width: 90%">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">k-width</span>
                            </div>
                            <input style="width: 75%"
                                   class="form-control mr-sm-2"
                                   type="search" placeholder="kagi width"
                                   aria-label="kagi height" v-model="setting.kagi.width">
                        </div>
                    </div>
                    <div style="margin: 5px">
                        <div class="input-group sm-3" style="width: 90%">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">k-height</span>
                            </div>
                            <input style="width: 75%"
                                   class="form-control mr-sm-2"
                                   type="search" placeholder="kagi height"
                                   aria-label="kagi height" v-model="setting.kagi.height">
                        </div>
                    </div>
                    <div style="margin: 5px">
                        <div class="input-group sm-3" style="width: 90%">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">k-scale-y</span>
                            </div>
                            <input style="width: 75%"
                                   class="form-control mr-sm-2"
                                   type="search" placeholder="kagi scale y"
                                   aria-label="kagi scale y" v-model="setting.kagi.scale_y">
                        </div>
                    </div>
                    <div>
                        <table width="90%">
                            <thead>
                            <tr>
                                <th>字段</th>
                                <th>列名</th>
                                <th>排序</th>
                                <th>显示</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- :style="i % 2 ? 'background-color: rgb(244,244,244);' : ''"-->
                            <!-- :style="isexclude(col.field) ? 'display:none' : 'display:inherit'" -->
                            <!--
                            <tr v-for="(col, i) in columns" :style="isexclude(col.field) ? 'display:none' : (i % 2 ? 'background-color: rgb(244,244,244);' : '')">
                                <td>{{col.field}}</td>
                                <td>{{col.title}}</td>
                                <td>
                                    <input type="checkbox" v-model="col.sortable"/>
                                </td>
                                <td>
                                    <input type="checkbox" v-model="col.visible"/>
                                </td>
                            </tr>
                            -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>


<!-- -->

<script type="text/javascript" src="/js/fontawe/solid.js" ></script>
<script type="text/javascript" src="/js/fontawe/fontawesome.js"></script>

<script type="text/javascript" src="/js/ace/ace.js"></script>
<script type="text/javascript" src="/js/axios/axios.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.js"></script>

<script type="text/javascript" src="/js/bootstrap/popper.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js" ></script>

<script type="text/javascript" src="/js/vue/vue.js" ></script>
<script type="text/javascript" src="/js/vue/vuetable/vuetable-2-full.js" ></script>

<script type="text/javascript" src="/js/g2/g2.js" ></script>
<script type="text/javascript" src="/js/g2/data-set.js" ></script>

<script type="text/javascript" src="/js/common/util.js?q"></script>
<script type="text/javascript" src="/js/db/db.js?q"></script>
<script type="text/javascript" src="coldef.js?q"></script>
<script type="text/javascript" src="q-chart-k.js?q"></script>
<script type="text/javascript" src="q.js?q"></script>

<script type="text/javascript">

    ;(function () {
        let src = '/js/eruda/eruda.js';
        if (!/eruda/.test(window.location) && localStorage.getItem('active-eruda') != 'true') return;
        document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
        document.write('<scr' + 'ipt>eruda.init();</scr' + 'ipt>');
    })();

</script>
</body>
</html>