<div class="modal fade" id="div_script_setting" tabindex="-1" role="dialog" aria-labelledby="setting" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{script_setting_opts.title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">

                <button type="button" class="btn btn-sm btn-info" v-on:click="script_save(script_setting_opts);">
                    <i class="fa fa-save"></i>
                </button>

                <div style="margin: 5px">
                    <div class="input-group sm-3" style="width: 90%">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">名字</span>
                        </div>
                        <input
                                class="form-control mr-sm-2"
                                type="search" placeholder=""
                                aria-label="" v-model="script_setting_opts.name">
                    </div>
                </div>

                <div>
                    <treeselect v-model="script_setting_opts.value" :multiple="false" :options="script_group.tree" style="width:90%"/>
                </div>

                <div>
                    {{script_setting_opts.msg}}
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>