<div class="modal fade" id="div_script_setting" tabindex="-1" role="dialog" aria-labelledby="setting" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{script_setting_opts.title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">

                <button type="button" class="btn btn-sm btn-info" v-on:click="script_save(script_setting_opts);">
                    <i class="fa fa-save"></i>
                </button>

                <button class="btn btn-sm btn-primary">
                    <i class="fa fa-plus-circle" v-on:click="script_add(script_setting_opts)"></i>
                </button>

                <button class="btn btn-sm btn-danger">
                    <i class="fa fa-minus-circle" v-on:click="script_delete(script_setting_opts)"></i>
                </button>

                <button class="btn btn-sm btn-outline-primary" v-if="script_setting_opts.type === 'script'">
                    <i class="fa fa-copy" v-on:click="script_delete(script_setting_opts)"></i>
                </button>

                <button class="btn btn-sm btn-outline-primary">
                    <i class="fa fa-angle-right" v-on:click="script_delete(script_setting_opts)"></i>
                </button>

                <div>
                    <treeselect
                                ref="tree_script_src"
                                v-model="script_setting_opts.tree_src_value"
                                :multiple="true"
                                :open-on-focus="true"
                                :options="script_setting_opts.tree_src"
                                :placeholder="script_setting_opts.tree_src_desc"
                                :value-consists-of="script_setting_opts.tree_src_value_consists_of"
                                :select-consists-of="script_setting_opts.tree_src_select_consists_of"
                                display-consists-of="script_setting_opts.tree_src_display_consists_of"
                                @select="script_group_tree_src_select"
                                style="width:99%; margin-top: 6px;" />
                </div>

                <div>
                    <treeselect
                                ref="tree_script_des"
                                v-model="script_setting_opts.tree_des_value"
                                :multiple="false"
                                :open-on-focus="true"
                                :options="script_setting_opts.tree_des"
                                :placeholder="script_setting_opts.tree_des_desc"
                                display-consists-of="BRANCH"
                                @select="script_group_tree_des_select"
                                style="width:99%; margin-top: 6px;" />
                </div>

                <div>
                    {{script_setting_opts.msg}}
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>